<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" href="#" src="https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-logo.png?v=9c558ec15d8a" class="img-responsive" alt="Responsive image">
            <!--<a class="navbar-brand" href="#">SOVA portfolio</a>-->

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <search-post></search-post>
            <!--<form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" data-bind="value: searchString">
                </div>
                <button type="submit" class="btn btn-default" data-bind="click: searchPost">Search</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right" data-bind="foreach: menuItems">
                <li data-bind="css: {active: $parent.isSelected($data)}">
                    <a href="#" data-bind="click: $parent.selectMenu">
                        <span data-bind="text: title"></span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div data-bind="template: view"></div>
<script type="text/html" id="default">
</script>
<script type="text/html" id="searchresult">
    <table class="table table-striped">
        <tbody data-bind="foreach: searchResult">
            <tr>
                <td style="font-size:large" data-bind="html: title"></td>
            </tr>
            <tr>
                <td data-bind="html: body"></td>
            </tr>
        </tbody>
    </table>
</script>-->

    <div class="main" data-bind="component: {name: currentComponent, params: currentParams}"></div>
<div class="colomnMain">
    <div class="colomnSideBar1">
        <h3>SOVA application</h3>
        <p>Group 3</p>
        <p>group member:</p>
        <p>kevin, </p>
        <p>hongzhi</p>
    </div>
    <div class="colomnSideBar2">
        <h3>About</h3>
        <p>[DSC] Database System Concepts 6th Edition Abraham Silberschatz, Henry Korth, S. Sudarshan ISBN: 978-0073523323</p>
        <p>[MSRM]  MySQL Reference Manual 5.7  (html) http://dev.mysql.com/doc/refman/5.7/en/ </p>
        <p>[MSRM]  MySQL Reference Manual 5.7  (pdf) http://downloads.mysql.com/docs/refman-5.7-en.a4.pdf </p>
        <p>[ASPMVC] ASP.NET MVC Succintly Nick Harrison https://www.syncfusion.com/resources/techportal/ebooks/aspnetmvc </p>
        <p>[ASPWAPI] ASP.NET Web API Succinctly Emanuele DelBono https://www.syncfusion.com/resources/techportal/ebooks/webapi </p>
        <p>[ICN] An Introduction to Computer Networks Peter L Dordal http://intronetworks.cs.luc.edu/current/ComputerNetworks.pdf </p>
        <p>[HTTP] HTTP Succinctly Scott Allen </p>
        <p>[C#5NC] C# 5.0 IN A NUTSHELL Joseph Albahari and Ben Albahari ISBN: 978-1-449-32010-2 </p>
        <p>[C#6NC] C# 6.0 IN A NUTSHELL Joseph Albahari and Ben Albahari ISBN: 978-1-491-92706-9 </p>
        <p>[EFTUT] http://www.entityframeworktutorial.net/ </p>
        <p>[SDP] Service Design Patterns Robert Daigneau ISBN: 978-0-321-54420-9 </p>
        <p>[RestWSC] RESTful Web Services Cookbook Subbu Allamaraju ISBN: 978-0-596-80168-7 </p>
    </div>
</div>