<div class="col-xm-12">
    <div>
        <button data-bind="enable: canPrev(), click: showPrev" class="btn btn-xm btn-info col-xm-2">
            <span class="glyphicon glyphicon-chevron-left"> Prev</span>
        </button>
        <button style="float:right" data-bind="enable: canNext(), click: showNext"
                class="btn btn-xm btn-info col-xm-2 col-xm-offset-2">
            <span class="glyphicon glyphicon-chevron-right"> Next</span>
        </button>
    </div>
    <ul style="margin-top:2%" class="list-group" data-bind="foreach: posts">

        <li class="list-group-item" data-bind="click: $parent.selectPost">
            
            <div id="postbody" data-bind="html: body"></div>
            <p style="font-style:italic">Creation Date: <span data-bind="html: creationdate"></span></p>
        </li>
    </ul>
   
</div>
        <!--<li data-bind="text: $data.total"></li>
        <li data-bind="text: $data.prev"></li>
        <li data-bind="text: $data.next"></li>-->
   
