<div class="col-xm-12" >
    <!--<form class="form-horizontal">-->
        <div>
            <button type="submit"
                    class="btn btn-default"
                    data-bind="click: back">
                Back
            </button>
        </div>
        <!--<div data-bind="foreach: postdetail">-->
            <ul class="list-group" data-bind="foreach: postdetail">


                <li style="margin-top:auto"class="list-group-item" >
                    <div style="font-size:large" data-bind="html: title"></div>
                    <div  data-bind="html: body"></div>
                </li>
            </ul>
            <!--<div class="form-group">
                <label for="postBody" class="col-xm-2 control-label"></label>
                <div class="col-xm-10" style="font-size:large"  data-bind="html: title"></div>
            </div>
            <div style="margin-top:auto" class="form-group">
                <label for="postBody" class="col-xm-2 control-label"></label>
                <div class="col-xm-10" data-bind="html: body"></div>
            </div>-->
        <!--</div>-->
        <!--</form>-->
        <!--<div class="form-group">
            <label for="url" class="col-xm-2 control-label">Url</label>
            <div class="col-xm-10">
                <input type="text"
                       class="form-control"
                       id="url"
                       readonly="readonly"
                       data-bind="value: url"
                       placeholder="Url">
            </div>
        </div>-->
        <!--<div class="form-group">
            <label for="personAge" class="col-xm-2 control-label">Age</label>
            <div class="col-xm-10">
                <input type="number"
                       class="form-control"
                       id="personAge"
                       data-bind="textInput: age"
                       placeholder="Age">
            </div>
        </div>-->

</div>
