<div class="col-xm-12">
        
    <div>
        <button data-bind="enable: canPrev(), click: showPrev" class="btn btn-xm btn-info col-xm-2">
            <span class="glyphicon glyphicon-chevron-left"> Prev</span>
        </button>
        <button style="float:right" data-bind="enable: canNext(), click: showNext"
                class="btn btn-xm btn-info col-xm-2 col-xm-offset-2">
            <span class="glyphicon glyphicon-chevron-right"> Next</span>
        </button>
    </div>
    <ul style="margin-top:2%" class="list-group" data-bind="foreach: searchResult">


        <li class="list-group-item" data-bind="click: $parent.selectPost">
            <div style="font-size:large;cursor:pointer" data-bind="html: title"></div>
            <div style="cursor:pointer"data-bind="html: body"></div>
        </li>
        </ul>
        
    

</div>
<div id="wordcloud" style="width: 550px; height: 350px; "></div>
