<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" data-bind="value: searchString">
    </div>
    <button type="submit" class="btn btn-default" data-bind="click: searchPost">Search</button>
</form>
<div data-bind="template: view"></div>
<script type="text/html" id="default"></script>
    <script type="text/html" id="searchresult">
    <table class="table table-striped">
        <tbody data-bind="foreach: searchResult">
            <tr>
                <td style="font-size:large" data-bind="html: title"></td>
            </tr>
            <tr>
                <td data-bind="html: body"></td>
            </tr>
</tbody>
    </table>
</script>
    <!--<p data-bind="html: body"></p>-->
